<style>
    body {background: #fff; color: #000;}
</style>
<p id="notice"><%= notice %></p>


<div align="center">
  <div class="container" style="width: 60%; padding-top: 50px; text-align: left;">
<div align="center"><h2><%= link_to_unless_current @post.title, @post %></h2>
      <%= @post.created_at.in_time_zone('US/Pacific').strftime("%A %d %b %Y") %>
      (<%= time_ago_in_words(@post.created_at) %> ago)
  </div>
    <br><br>
<%= markdown(@post.body) %>

<%= link_to 'Back to Blog Index', posts_path %>

    <p>
    <h2>Comments</h2>
    <hr>
<div id="comments">
  <%= render :partial => @post.comments %>
</div>

    <hr>
    <p>
    <h3>New Comment</h3>
<%= form_for [@post, Comment.new] do |f| %>
      <%= f.label :header, "Name" %>
      <%= f.text_field :owner, class: 'form' %><br><br>
      <%= f.text_area :body, class: 'form-control', style: "height: 100px;" %>
        <%= recaptcha_tags %>
    </p>
    <p><%= f.submit "Add comment" %></p>
<% end %>
</p>